{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td>${{ '%0.2f' % totalMoney }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for stock in buys %}
                <tr>
                    <td>{{ stock['symbol'] }}</td>
                    <td>{{ stock['shares'] }}</td>
                    <td>{{ stock['price'] }}</td>
                    <td>${{ '%0.2f' % (stock['price'] * stock['shares']) }}</td>
                </tr>
            {% endfor %}
            {% for stock in sells %}
            <tr>
                <td>{{ stock['symbol'] }}</td>
                <td>{{ stock['shares'] }}</td>
                <td>{{ stock['price'] }}</td>
                <td>${{ '%0.2f' % (stock['price'] * stock['shares']) }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td>${{ '%0.2f' % userCash }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
